.tag-card {
    background-color: #BDC4D4;
    border: 1px solid #52677D;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    color: #0F1A2B;
    z-index: 2;
    
}
.tag-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}