        /* Styling untuk partikel background */
        #particles-js {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1; /* Di belakang konten, di depan background solid */
        }
